In [ ]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)

In [ ]:

df = spark.read.csv("/tmp/resources/zipcodes.csv")
rdd.toDF(columns)

df.printSchema()

In [ ]:
df.createOrReplaceTempView("PERSON_DATA")
df2 = spark.sql("SELECT * from PERSON_DATA")
df2.printSchema()


groupDF = spark.sql("SELECT gender, count(*) from PERSON_DATA group by gender")
groupDF.show()

In [ ]:
df.withColumn("bonus_amount", df.salary*0.3)

from pyspark.sql.functions import lit

In [ ]:
from pyspark.sql.functions import when
df.withColumn("grade", \
   when((df.salary < 4000), lit("A")) \
     .when((df.salary >= 4000) & (df.salary <= 5000), lit("B")) \
     .otherwise(lit("C")) \
  ).show()

In [ ]:
df.createOrReplaceTempView("PER")
df2=spark.sql("select firstname,salary, '0.3' as bonus from PER")

In [ ]:
df5 = df3.join(df4, df3.emp_dept_id == df4.dept_id,  "inner")

In [ ]:
from pyspark.sql.functions import sum
df.select(sum(df.fee))

df.createOrReplaceTempView("my_df")
spark.sql("SELECT SUM(salary) FROM my_df")